body {
    
    font-size: 1rem;
}
.container {
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/426699617_933940924653345_6631518142233102964_n.jpg?stp=dst-jpg_p403x403&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHqhkMOtZupgNCa6Xy6QJQKkaLKwULpH6uRosrBQukfq8sm0FqZ1_QEooE_HTOEq86kjxGdX1MVuosu-uOZezVQ&_nc_ohc=atFDDzXYm_IAX-T64pB&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQq5_PJUQlODXP0a5alxjapG51S3Rgf4yjQseWwd2UNDg&oe=66120BE8);
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 10%;
}
h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
     font-family: "Madimi One", sans-serif;
     font-weight: 400;
    font-style: oblique;
}
#length {
    height: 50%;
    width: 32%;
    margin-top: 120px;
    font-family: "Quicksand", sans-serif;
}
#range {
    color: aliceblue;
    margin-top: 120px;
}
.options {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}
.options ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: 1.3rem;
    align-items:flex-start;
    color: aliceblue;

}
.options li {
    margin-top: 25px;
}
.submit {
    margin: auto;
    height: 50px;
    width: 100px;
    font-family: "Quicksand", sans-serif;
}
h2 {
    color: whitesmoke;
    margin: auto;
    width: 75%;
    font-family: "Salsa", cursive;
}
span {
    color:crimson;
    font-size: large;
    overflow-wrap: wrap;

}